[[hooks]]
stage = "pre_build"
command = "sh"
command_arguments = ["-c", "mkdir -p node_modules/@rcade/plugin-input-classic/dist && curl -L https://unpkg.com/@rcade/plugin-input-classic/dist/index.js -o node_modules/@rcade/plugin-input-classic/dist/index.js"]
